
body {
    font-family: "Montserrat";
    text-align: center;
    background-color: #b0bbdc;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  a {
    color: inherit;
  }
  #code {
    font-family: "Press Start 2P";
  }
  .borders{
    border-radius: 2px;
    border: dotted;
    color: black;
}


  /* Headings */
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
/* Title Section */
  #title {
    text-align: left;
  }
  #title .container-fluid {
    padding: 10px 7% 10px;
  }
  .title-image {
    width: 60%;
    position: absolute;
    right: 30%;
  }
    /* Welcome Section */
    .welcome {
        position: absolute;
        width: 100%;
        background-color: #7d88a9;
    }
    .softDev{
        font-family: 'Electrolize', sans-serif;
        padding-left: 1000px;
        transition-delay: 4s;
        position: relative;
        right: 575px;
        top: -40px;
    }
    .mission{
        text-align: center;
        margin: 0px 20%;
        font-size: 25px;
        color: #b0bbdc;
        margin-top: 0%;
        position: relative;
        top: -35px;
    }
    .contacts{
        position: relative;
        top: -30px;
    }
    .col{
        font-size: 20px;
    }


    /* Responsive Type Effect */
    .wrapper {
        height: 100vh;
        /*This part is important for centering*/
        display: grid;
        place-items: center;
    }
  
  .big-heading {
    margin: 50px 0px 50px 200px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    width: 35ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* Slam Text Effect */
.hidden {
    visibility: hidden;
}
.slam
{
  visibility: visible;
  animation: slam 1s;
  animation-timing-function: ease-in;
  color: black;
  width: 15ch;
  display: block;
  font-size: 1.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  
}

@keyframes slam
{
  0%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes rattle
{
  0% { margin-top: 0; margin-left: 0; }
  10% { margin-top: -5px; margin-left: 0; }
  20% { margin-top: 0; margin-left: -5px; }
  30% { margin-top: 5px; margin-left: 0; }
  40% { margin-top: 0; margin-left: 5px; }
  50% { margin-top: -2px; margin-left: 0; }
  60% { margin-top: 0; margin-left: -2px; }
  70% { margin-top: 2px; margin-left: 0; }
  80% { margin-top: 0; margin-left: 2px; }
  90% { margin-top: -1px; margin-left: 0; }
  100% { margin-top: 0; margin-left: 0; }
}